
<div class="presentation">
    Liste des animes:
    <button class="boutton" *ngIf="_isSettingPassword == false" (click)="_isSettingPassword = true">
        Ajouter un anime
    </button>
    <div *ngIf="_isSettingPassword">
        <input  type="text" #password />
        <button (click)="openModal(_addAnimeModalName, password.value)"><span>&#10003;</span></button>
        <button (click)="_isSettingPassword = false"><span>&#10008;</span></button>
    </div>
</div>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne" >
                Type
        </td>
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Nombre d'episode
        </td>
        <td class="titre colonne">
                Date de sortie
        </td>
        <td class="titre colonne" >
                Theme
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
    </tr>
        <tr *ngFor="let anime of _animeList" (click)="selectAnime(_selectAnimeModalName,anime)">
            <td class="colonne ecriture" >
                {{anime.titre}}
            </td>
            <td class="colonne ecriture">
                {{anime.type}}
            </td>
            <td class="colonne ecriture">
                {{anime.genre}}
            </td>
            <td class="colonne ecriture">
                {{anime.nbEpisode}}
            </td>
            <td class="colonne ecriture">
                {{anime.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{anime.theme}}
            </td>
            <td class="colonne ecriture">
                {{anime.langue}}
            </td>
            <td class="colonne ecriture">
                {{anime.note}}
            </td>
        </tr>
</table>

<jw-modal id="{{_addAnimeModalName}}">
    <h1>Ajout d'un anime</h1>
    titre: <input type="text" [(ngModel)]="_newAnime.titre"/><br>
    langue: <input type="text" [(ngModel)]="_newAnime.langue"/><br>
    dateSortie: <input type="text" [(ngModel)]="_newAnime.dateSortie"/><br>
    genre: <input type="text" [(ngModel)]="_newAnime.genre"/><br>
    createur: <input type="text" [(ngModel)]="_newAnime.createur"/><br>
    type: <input type="text" [(ngModel)]="_newAnime.type"/><br>
    nb d'episode: <input type="text" [(ngModel)]="_newAnime.nbEpisode"/><br>
    theme: <input type="text" [(ngModel)]="_newAnime.theme"/><br>
    studioAnimation: <input type="text" [(ngModel)]="_newAnime.studioAnimation"/><br>
    resume: <input type="text" [(ngModel)]="_newAnime.resume"/><br>
    <button (click)="addAnime()">Valider</button>
    <button (click)="resetData(_addAnimeModalName);">Annuler</button>
</jw-modal>

<jw-modal id="{{_selectAnimeModalName}}">
    <h1 class="titre">{{_selectedAnime.titre}}</h1>
    <div class="categorie">
        Note
    </div>
    <div class="info">
        {{_selectedAnime.note}}
    </div>
    <button class="boutton" *ngIf="_isMarking==false" (click)="_isMarking=true">
        Noter
    </button>
    <div *ngIf="_isMarking==true">
        <input type="number" #scoreinput />
        <button (click)="addScore(scoreinput.value)">
            <span >
                &#10003;
            </span>
        </button>
        <button (click)="_isMarking=false">
            <span >
                &#10008;
            </span>
        </button>
    </div>


    <div class="categorie">
        Titre
    </div>
    <div class="info">
        {{_selectedAnime.titre}}
    </div>

    <div class="categorie">
        Type
    </div>
    <div class="info">
        {{_selectedAnime.type}}
    </div>

    <div class="categorie">
        Langue
    </div>
    <div class="info">
        {{_selectedAnime.langue}}
    </div>

    <div class="categorie">
        Date de sortie
    </div>
    <div class="info">
        {{_selectedAnime.dateSortie}}
    </div>

    <div class="categorie">
        createur
    </div>
    <div class="info">
        {{_selectedAnime.createur}}
    </div>

    <div class="categorie">
        Studio d'animation
    </div>
    <div class="info">
        {{_selectedAnime.studioAnimation}}
    </div>

    <div class="categorie">
        Genre
    </div>
    <div class="info">
        {{_selectedAnime.genre}}
    </div>

    <div class="categorie">
        Theme
    </div>
    <div class="info">
        {{_selectedAnime.theme}}
    </div>

    <div class="categorie">
        Nombre d'episode
    </div>
    <div class="info">
        {{_selectedAnime.nbEpisode}}
    </div>

    <div class="categorie">
        Resume
    </div>
    <div class="info">
        {{_selectedAnime.resume}}
    </div>

    <button (click)="resetData(_selectAnimeModalName);">Annuler</button>
</jw-modal>

