
<div>
    Liste des animes:
</div>

<table>
    <tr>
        <td class="titre" >
                TITRE
        </td>
        <td class="titre" >
                Type
        </td>
        <td class="titre" >
                Genre
        </td>
        <td class="titre" >
                Nombre d'episode
        </td>
        <td>
                Date de sortie
        </td>
        <td class="titre" >
                Theme
        </td>
        <td class="titre" >
                Language
        </td>
        <td class="titre" >
                Note
        </td>
    </tr>
        <tr *ngFor="let anime of _animeList">
            <td class="titre">
                {{anime.titre}}
            </td>
            <td class="titre">
                {{anime.type}}
            </td>
            <td class="titre">
                {{anime.genre}}
            </td>
            <td class="titre">
                {{anime.nbEpisode}}
            </td>
            <td class="titre">
                {{anime.dateSortie}}
            </td>
            <td class="titre">
                {{anime.theme}}
            </td>
            <td class="titre">
                {{anime.langue}}
            </td>
            <td class="titre">
                {{anime.note}}
            </td>
        </tr>
</table>

