.titre{
  font-size: 250%;
  color: red;
  text-align: center;
}
.colonne{
  width: 50%;
}
.ecriture{
  font-size: 200%;
  text-align: center;
}
.tableau{
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  width:100%;
}
.presentation{
  font-size: 200%;
  color: darkgreen;
  text-align: center;
}
