
<div>
    Liste des series:
</div>
<button class="boutton" (click)="ajoutSerieModal('addSerieModal')">
    ajouter une serie
</button>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne"  >
                Type
        </td>
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Nombre d'épisode
        </td>
        <td class="titre colonne" >
                Date de sortie
        </td>
        <td class="titre colonne" >
                Theme
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
    </tr>
        <tr *ngFor="let serie of _serieList">
            <td class="colonne ecriture">
                {{serie.titre}}
            </td>
            <td class="colonne ecriture">
                {{serie.type}}
            </td>
            <td class="colonne ecriture">
                {{serie.genre}}
            </td>
            <td class="colonne ecriture">
                {{serie.nbEpisode}}
            </td>
            <td class="colonne ecriture">
                {{serie.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{serie.theme}}
            </td>
            <td class="colonne ecriture">
                {{serie.langue}}
            </td>
            <td class="colonne ecriture">
                {{serie.note}}
            </td>

        </tr>
</table>


<jw-modal id="addSerieModal">
    <h1>Ajout d'un film</h1>
    titre: <input type="text" [(ngModel)]="_newSerie.titre"/><br>
    langue: <input type="text" [(ngModel)]="_newSerie.langue"/><br>
    dateSortie: <input type="text" [(ngModel)]="_newSerie.dateSortie"/><br>
    genre: <input type="text" [(ngModel)]="_newSerie.genre"/><br>
    realisateur: <input type="text" [(ngModel)]="_newSerie.realisateur"/><br>
    type: <input type="text" [(ngModel)]="_newSerie.type"/><br>
    duree: <input type="text" [(ngModel)]="_newSerie.nbEpisode"/><br>
    theme: <input type="text" [(ngModel)]="_newSerie.theme"/><br>
    societeProduction: <input type="text" [(ngModel)]="_newSerie.societeProduction"/><br>
    resume: <input type="text" [(ngModel)]="_newSerie.resume"/><br>
    <button (click)="addSerie()">Valider</button>
    <button (click)="resetData('addSerieModal');">Annuler</button>
</jw-modal>

