
<div class="presentation">
    Liste des films:
    <button class="boutton" *ngIf="_isSettingPassword == false" (click)="_isSettingPassword = true">
        Ajouter un film
    </button>
    <div *ngIf="_isSettingPassword">
        <input  type="text" #password />
        <button (click)="openModal(_addFilmModalName, password.value)"><span>&#10003;</span></button>
        <button (click)="_isSettingPassword = false"><span>&#10008;</span></button>
    </div>
</div>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne" >
                Type
        </td >
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Duree
        </td>
        <td class="titre colonne" >
                Date de sortie
        </td>
        <td class="titre colonne" >
                Theme
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
        <tr *ngFor="let film of _filmList" (click)="selectFilm(_selectFilmModalName,film)">
            <td class="colonne ecriture">
                {{film.titre}}
            </td>
            <td class="colonne ecriture">
                {{film.type}}
            </td>
            <td class="colonne ecriture">
                {{film.genre}}
            </td>
            <td class="colonne ecriture">
                {{film.duree}}
            </td>
            <td class="colonne ecriture">
                {{film.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{film.theme}}
            </td>
            <td class="colonne ecriture">
                {{film.langue}}
            </td>
            <td class="colonne ecriture">
                {{film.note}}
            </td>

        </tr>
</table>

<jw-modal id="{{_addFilmModalName}}" class="popup">
    <h1>Ajout d'un film</h1>
            titre: <input type="text" [(ngModel)]="_newFilm.titre"/><br>
            langue: <input type="text" [(ngModel)]="_newFilm.langue"/><br>
            dateSortie: <input type="text" [(ngModel)]="_newFilm.dateSortie"/><br>
            genre: <input type="text" [(ngModel)]="_newFilm.genre"/><br>
            realisateur: <input type="text" [(ngModel)]="_newFilm.realisateur"/><br>
            type: <input type="text" [(ngModel)]="_newFilm.type"/><br>
            duree: <input type="text" [(ngModel)]="_newFilm.duree"/><br>
            theme: <input type="text" [(ngModel)]="_newFilm.theme"/><br>
            societeProduction: <input type="text" [(ngModel)]="_newFilm.societeProduction"/><br>
            resume: <input type="text" [(ngModel)]="_newFilm.resume"/><br>
    <button (click)="addFilm()">Valider</button>
    <button (click)="resetData('addFilmModal');">Annuler</button>
</jw-modal>

<jw-modal id="{{_selectFilmModalName}}" class="popup">
    <h1 class="titre">{{_selectedFilm.titre}}</h1>

    <div class="categorie">
        Note
    </div>
    <div class="info">
        {{_selectedFilm.note}}
    </div>
    <button class="boutton" *ngIf="_isMarking==false" (click)="_isMarking=true">
        Noter
    </button>
    <div *ngIf="_isMarking==true">
        <input type="number" #scoreinput />
        <button (click)="addScore(scoreinput.value)">
            <span >
                &#10003;
            </span>
        </button>
        <button (click)="_isMarking=false">
            <span >
                &#10008;
            </span>
        </button>
    </div>

    <div class="categorie">
        Titre
    </div>
    <div class="info">
        {{_selectedFilm.titre}}
    </div>

    <div class="categorie">
        Type
    </div>
    <div class="info">
        {{_selectedFilm.type}}
    </div>

    <div class="categorie">
        Langue
    </div>
    <div class="info">
        {{_selectedFilm.langue}}
    </div>

    <div class="categorie">
        Date de sortie
    </div>
    <div class="info">
        {{_selectedFilm.dateSortie}}
    </div>

    <div class="categorie">
        Realisateur
    </div>
    <div class="info">
        {{_selectedFilm.realisateur}}
    </div>

    <div class="categorie">
        Societe de Production
    </div>
    <div class="info">
        {{_selectedFilm.societeProduction}}
    </div>

    <div class="categorie">
        Genre
    </div>
    <div class="info">
        {{_selectedFilm.genre}}
    </div>

    <div class="categorie">
        Theme
    </div>
    <div class="info">
        {{_selectedFilm.theme}}
    </div>

    <div class="categorie">
        Duree
    </div>
    <div class="info">
        {{_selectedFilm.duree}}
    </div>

    <div class="categorie">
        Resume
    </div>
    <div class="info">
        {{_selectedFilm.resume}}
    </div>

    <button (click)="resetData(_selectFilmModalName);">Annuler</button>
</jw-modal>
