
<div class="presentation">
    Liste des films:
    <button class="boutton" (click)="ajoutFilmModal('addFilmModal')">
        Ajouter un film
    </button>
</div>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne" >
                Type
        </td >
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Duree
        </td>
        <td class="titre colonne" >
                Date de sortie
        </td>
        <td class="titre colonne" >
                Theme
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
        <tr *ngFor="let film of _filmList">
            <td class="colonne ecriture">
                {{film.titre}}
            </td>
            <td class="colonne ecriture">
                {{film.type}}
            </td>
            <td class="colonne ecriture">
                {{film.genre}}
            </td>
            <td class="colonne ecriture">
                {{film.duree}}
            </td>
            <td class="colonne ecriture">
                {{film.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{film.theme}}
            </td>
            <td class="colonne ecriture">
                {{film.langue}}
            </td>
            <td class="colonne ecriture">
                {{film.note}}
            </td>

        </tr>
</table>

<jw-modal id="addFilmModal">
    <h1>Ajout d'un film</h1>
            titre: <input type="text" [(ngModel)]="_newFilm.titre"/><br>
            langue: <input type="text" [(ngModel)]="_newFilm.langue"/><br>
            dateSortie: <input type="text" [(ngModel)]="_newFilm.dateSortie"/><br>
            genre: <input type="text" [(ngModel)]="_newFilm.genre"/><br>
            realisateur: <input type="text" [(ngModel)]="_newFilm.realisateur"/><br>
            type: <input type="text" [(ngModel)]="_newFilm.type"/><br>
            duree: <input type="text" [(ngModel)]="_newFilm.duree"/><br>
            theme: <input type="text" [(ngModel)]="_newFilm.theme"/><br>
            societeProduction: <input type="text" [(ngModel)]="_newFilm.societeProduction"/><br>
            resume: <input type="text" [(ngModel)]="_newFilm.resume"/><br>
    <button (click)="addFilm()">Valider</button>
    <button (click)="resetData('addFilmModal');">Annuler</button>
</jw-modal>

