.titre{
    font-size: 220%;
    color: red;
    text-align: center;
}
.colonne{
    width: 12.5%;
}
.ecriture{
    font-size: 120%;
    text-align: center;
}
.tableau{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}
.presentation{
    font-size: 200%;
    color: darkgreen;
    text-align: center;
}
.boutton{
    color: red;
    background-color: lawngreen;
    text-align:center;
    position: center;
    font-size: 110%;
}
.categorie{
    font-size: 200%;
    color: #0074D9;
    text-align: center;
}
.info {
    font-size: 180%;
    text-align: center;
}
