
<div class="presentation">
    Liste des musiques:
    <button class="boutton" (click)="ajoutMusiqueModal('addMusiqueModal')">
        Ajouter une musique
    </button>
</div>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne" >
                Album
        </td>
        <td class="titre colonne" >
                Interpretre
        </td>
        <td class="titre colonne" >
                Duree
        </td>
        <td class="titre colonne" >
                Date de sortie
        </td>
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
    </tr>
        <tr *ngFor="let musique of _musicList">
            <td class="colonne ecriture">
                {{musique.titre}}
            </td>
            <td class="colonne ecriture">
                {{musique.album}}
            </td>
            <td class="colonne ecriture">
                {{musique.interprete}}
            </td>
            <td class="colonne ecriture">
                {{musique.duree}}
            </td>
            <td class="colonne ecriture">
                {{musique.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{musique.genre}}
            </td>
            <td class="colonne ecriture">
                {{musique.langue}}
            </td>
            <td class="colonne ecriture">
                {{musique.note}}
            </td>

        </tr>
</table>

<jw-modal id="addMusiqueModal">
    <h1>Ajout d'une musique</h1>
    titre: <input type="text" [(ngModel)]="_newMusique.titre"/><br>
    langue: <input type="text" [(ngModel)]="_newMusique.langue"/><br>
    dateSortie: <input type="text" [(ngModel)]="_newMusique.dateSortie"/><br>
    genre: <input type="text" [(ngModel)]="_newMusique.genre"/><br>
    interpretre: <input type="text" [(ngModel)]="_newMusique.interprete"/><br>
    album: <input type="text" [(ngModel)]="_newMusique.album"/><br>
    duree: <input type="text" [(ngModel)]="_newMusique.duree"/><br>
    producteur: <input type="text" [(ngModel)]="_newMusique.producteur"/><br>
    parole: <input type="text" [(ngModel)]="_newMusique.paroles"/><br>
    <button (click)="addAnime()">Valider</button>
    <button (click)="resetData('addMusiqueModal');">Annuler</button>
</jw-modal>
