
<div class="presentation">
    Liste des musiques:
    <button class="boutton" *ngIf="_isSettingPassword == false" (click)="_isSettingPassword = true">        Ajouter une musique
    </button>
    <div *ngIf="_isSettingPassword">
        <input  type="text" #password />
        <button (click)="openModal(_addMusiqueModalName, password.value)"><span>&#10003;</span></button>
        <button (click)="_isSettingPassword = false"><span>&#10008;</span></button>
    </div>
</div>

<table class="tableau">
    <tr>
        <td class="titre colonne" >
                TITRE
        </td>
        <td class="titre colonne" >
                Album
        </td>
        <td class="titre colonne" >
                Interpretre
        </td>
        <td class="titre colonne" >
                Duree
        </td>
        <td class="titre colonne" >
                Date de sortie
        </td>
        <td class="titre colonne" >
                Genre
        </td>
        <td class="titre colonne" >
                Language
        </td>
        <td class="titre colonne" >
                Note
        </td>
    </tr>
        <tr *ngFor="let musique of _musiqueList" (click)="selectMusique(_selectMusiqueModalName,musique)">
            <td class="colonne ecriture">
                {{musique.titre}}
            </td>
            <td class="colonne ecriture">
                {{musique.album}}
            </td>
            <td class="colonne ecriture">
                {{musique.interprete}}
            </td>
            <td class="colonne ecriture">
                {{musique.duree}}
            </td>
            <td class="colonne ecriture">
                {{musique.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{musique.genre}}
            </td>
            <td class="colonne ecriture">
                {{musique.langue}}
            </td>
            <td class="colonne ecriture">
                {{musique.note}}
            </td>

        </tr>
</table>

<jw-modal id="{{_addMusiqueModalName}}" class="popup">
    <h1>Ajout d'une musique</h1>
    titre: <input type="text" [(ngModel)]="_newMusique.titre"/><br>
    langue: <input type="text" [(ngModel)]="_newMusique.langue"/><br>
    dateSortie: <input type="text" [(ngModel)]="_newMusique.dateSortie"/><br>
    genre: <input type="text" [(ngModel)]="_newMusique.genre"/><br>
    interpretre: <input type="text" [(ngModel)]="_newMusique.interprete"/><br>
    album: <input type="text" [(ngModel)]="_newMusique.album"/><br>
    duree: <input type="text" [(ngModel)]="_newMusique.duree"/><br>
    producteur: <input type="text" [(ngModel)]="_newMusique.producteur"/><br>
    parole: <input type="text" [(ngModel)]="_newMusique.paroles"/><br>
    <button (click)="addAnime()">Valider</button>
    <button (click)="resetData(_addMusiqueModalName);">Annuler</button>
</jw-modal>

<jw-modal id="{{_selectMusiqueModalName}}" class="popup">
    <h1 class="titre">{{_selectedMusique.titre}}</h1>
    <div class="categorie">
        Note
    </div>
    <div class="info">
        {{_selectedMusique.note}}
    </div>
    <button class="boutton" *ngIf="_isMarking==false" (click)="_isMarking=true">
        Noter
    </button>
    <div *ngIf="_isMarking==true">
        <input type="number" #scoreinput />
        <button (click)="addScore(scoreinput.value)">
            <span >
                &#10003;
            </span>
        </button>
        <button (click)="_isMarking=false">
            <span >
                &#10008;
            </span>
        </button>
    </div>


    <div class="categorie">
        Titre
    </div>
    <div class="info">
        {{_selectedMusique.titre}}
    </div>

    <div class="categorie">
        Langue
    </div>
    <div class="info">
        {{_selectedMusique.langue}}
    </div>

    <div class="categorie">
        Date de sortie
    </div>
    <div class="info">
        {{_selectedMusique.dateSortie}}
    </div>

    <div class="categorie">
        Interpretre
    </div>
    <div class="info">
        {{_selectedMusique.interprete}}
    </div>

    <div class="categorie">
        Album
    </div>
    <div class="info">
        {{_selectedMusique.album}}
    </div>

    <div class="categorie">
        Genre
    </div>
    <div class="info">
        {{_selectedMusique.genre}}
    </div>

    <div class="categorie">
        Producteur
    </div>
    <div class="info">
        {{_selectedMusique.producteur}}
    </div>

    <div class="categorie">
        Nombre d'episode
    </div>
    <div class="info">
        {{_selectedMusique.duree}}
    </div>

    <div class="categorie">
        Duree
    </div>
    <div class="info">
        {{_selectedMusique.paroles}}
    </div>

    <button (click)="resetData(_selectMusiqueModalName);">Annuler</button>
</jw-modal>
