.modal-footer button {
    float: right;
    margin-right: 10px;
}


.z-index {
    z-index : 1100;
}

.modal-dialog-full {
    width: 101%;
    height: 100%;
    margin-top:0%;
    margin-left: -1%;
    margin-bottom: 0%;
}