
<div>
    Liste des Jeux-videos:
</div>

<table>
    <tr>
        <td class="titre" >
                TITRE
        </td>
        <td class="titre" >
                Type
        </td>
        <td class="titre" >
                Genre
        </td>
        <td class="titre" >
                Date de sortie
        </td>
        <td class="titre" >
                Theme
        </td>
        <td class="titre" >
                Language
        </td>
        <td class="titre" >
                Note
        </td>
    </tr>

        <tr *ngFor="let jeu of _videoGameList">
            <td>
                {{jeu.titre}}
            </td>
            <td>
                {{jeu.type}}
            </td>
            <td>
                {{jeu.genre}}
            </td>
            <td>
                {{jeu.dateSortie}}
            </td>
            <td>
                {{jeu.modeDeJeu}}
            </td>
            <td>
                {{jeu.langue}}
            </td>
            <td>
                {{jeu.note}}
            </td>

        </tr>
</table>
