
<div class="presentation">
    Liste des Jeux-videos:
    <button class="boutton" (click)="ajoutJeuVideoModal('addJeuVideoModal')">
        Ajouter un JeuVideo
    </button>
</div>


<table class="tableau">
    <tr>
        <td class="titre colonne">
                TITRE
        </td>
        <td class="titre colonne">
                Type
        </td>
        <td class="titre colonne">
                Genre
        </td>
        <td class="titre colonne">
                Date de sortie
        </td>
        <td class="titre colonne">
                Theme
        </td>
        <td class="titre colonne">
                Language
        </td>
        <td class="titre colonne">
                Note
        </td>
    </tr>

        <tr *ngFor="let jeu of _videoGameList" (click)="selectJeuVideo('selectedJeuVideoModal',jeu)">
            <td class="colonne ecriture">
                {{jeu.titre}}
            </td>
            <td class="colonne ecriture">
                {{jeu.type}}
            </td>
            <td class="colonne ecriture">
                {{jeu.genre}}
            </td>
            <td class="colonne ecriture">
                {{jeu.dateSortie}}
            </td>
            <td class="colonne ecriture">
                {{jeu.modeDeJeu}}
            </td>
            <td class="colonne ecriture">
                {{jeu.langue}}
            </td>
            <td class="colonne ecriture">
                {{jeu.note}}
            </td>

        </tr>
</table>

<jw-modal id="addJeuVideoModal">
    <h1>Ajout d'un JeuVideo</h1>
    titre: <input type="text" [(ngModel)]="_newJeuVideo.titre"/><br>
    langue: <input type="text" [(ngModel)]="_newJeuVideo.langue"/><br>
    dateSortie: <input type="text" [(ngModel)]="_newJeuVideo.dateSortie"/><br>
    genre: <input type="text" [(ngModel)]="_newJeuVideo.genre"/><br>
    createur: <input type="text" [(ngModel)]="_newJeuVideo.createur"/><br>
    type: <input type="text" [(ngModel)]="_newJeuVideo.type"/><br>
    mode de jeu: <input type="text" [(ngModel)]="_newJeuVideo.modeDeJeu"/><br>
    plateform: <input type="text" [(ngModel)]="_newJeuVideo.plateforme"/><br>
    resume: <input type="text" [(ngModel)]="_newJeuVideo.resume"/><br>
    <button (click)="addJeuVideo()">Valider</button>
    <button (click)="resetData('addJeuVideoModal');">Annuler</button>
</jw-modal>

<jw-modal id="selectedAnimeModal">
    <h1 class="titre">{{_selectedJeuVideo.titre}}</h1>
    <div class="categorie">
        Titre
    </div>
    <div class="info">
        {{_selectedJeuVideo.titre}}
    </div>

    <div class="categorie">
        Type
    </div>
    <div class="info">
        {{_selectedJeuVideo.type}}
    </div>

    <div class="categorie">
        Langue
    </div>
    <div class="info">
        {{_selectedJeuVideo.langue}}
    </div>

    <div class="categorie">
        Date de sortie
    </div>
    <div class="info">
        {{_selectedJeuVideo.dateSortie}}
    </div>

    <div class="categorie">
        createur
    </div>
    <div class="info">
        {{_selectedJeuVideo.createur}}
    </div>

    <div class="categorie">
        Plateforme
    </div>
    <div class="info">
        {{_selectedJeuVideo.plateforme}}
    </div>

    <div class="categorie">
        Genre
    </div>
    <div class="info">
        {{_selectedJeuVideo.genre}}
    </div>

    <div class="categorie">
        Mode de jeu
    </div>
    <div class="info">
        {{_selectedJeuVideo.modeDeJeu}}
    </div>


    <div class="categorie">
        Resume
    </div>
    <div class="info">
        {{_selectedJeuVideo.resume}}
    </div>

    <button (click)="resetData('addFilmModal');">Annuler</button>
</jw-modal>