<div>
    Liste des mangas:
</div>

<table>
    <tr>
        <td  class="titre" >
                TITRE
        </td>
        <td  class="titre" >
                Type
        </td>
        <td class="titre" >
                Genre
        </td>
        <td class="titre" >
                Nombre de chapitre
        </td>
        <td class="titre" >
                Date de sortie
        </td>
        <td class="titre" >
                Theme
        </td>
        <td class="titre" >
                Language
        </td>
        <td class="titre" >
                Note
        </td>
    </tr>
        <tr *ngFor="let manga of _mangaList">
            <td>
                {{manga.titre}}
            </td>
            <td>
                {{manga.type}}
            </td>
            <td>
                {{manga.genre}}
            </td>
            <td>
                {{manga.nbChapitre}}
            </td>
            <td>
                {{manga.dateSortie}}
            </td>
            <td>
                {{manga.theme}}
            </td>
            <td>
                {{manga.langue}}
            </td>
            <td>
                {{manga.note}}
            </td>

        </tr>
</table>

