<!-- menu -->
<nav class="menu">
    <ul>
        <li class="boutton">
            <a routerLink="/musique">Musique</a>
        </li>
        <li class="boutton">
            <a routerLink="/jeuVideo">Jeux Videos</a>
        </li>
        <li class="boutton">
            <a routerLink="/manga">Manga</a>
        </li>
        <li class="boutton">
            <a routerLink="/home" style="height:50px">acceuil</a>
        </li>
        <li class="boutton">
            <a routerLink="/anime">anime</a>
        </li>
        <li class="boutton">
            <a routerLink="/serie">serie</a>
        </li>
        <li class="boutton">
            <a routerLink="/film">film</a>
        </li>
    </ul>
</nav>
<!-- barre de recherche -->
<div align="middle">
    <input type="search" id="maRecherche" name="q"
           placeholder="Rechercher sur le site…">
    <button>Rechercher</button>
</div>
